
/* Mobile Nav */

.mobile__nav,
.mobile__hamburger {
  display: none;
  overflow: hidden;
}

.mobile__hamburger {
  margin: 1rem 0;
  width: 35px;
  cursor: pointer;
}

.mobile__hamburger div,
.mobile__hamburger::before,
.mobile__hamburger:after {
  background-color: black;
  content: '';
  display: block !important;
  height: 2px;
  margin: 7px 0;
  transition: all .2s ease-in-out;
  z-index: 30;
}

.mobile__hamburger::before {
  width: 20px;
}

.mobile__hamburger::after {
  width: 20px;
  transform: translateX(15px);
}

.mobile__hamburger:hover div {
  width: 25px;
  transform: translateX(10px);
}

.mobile__hamburger:hover:after {
  width: 30px;
  transform: translateX(5px);
}

.mobile__hamburger:hover::before {
  width: 35px;
}

.mobile__nav__bg {
  height: 100vh;
  width: 100%;
  top: 0;
  right: 0;
  background-color: #0D1946;
  color: white;
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 4;
}

.mobile__nav__bg .mobile__nav .closeBtn {
  margin: 1rem 0;
  width: 35px;
  position: absolute;
  top: 5%;
  right: 5%;
  cursor: pointer;
}

.mobile__nav__bg .mobile__nav .closeBtn div,
.mobile__nav__bg .mobile__nav .closeBtn::before,
.mobile__nav__bg .mobile__nav .closeBtn:after {
  background-color: white;
  content: '';
  display: block !important;
  height: 3.5px;
  margin: -4px;
  transition: all .2s ease-in-out;
  z-index: 30;
}

.mobile__nav__bg .mobile__nav .closeBtn div {
  display: none !important;
}

.mobile__nav__bg .mobile__nav .closeBtn::before {
  transform: rotate(135deg);
}

.mobile__nav__bg .mobile__nav .closeBtn::after {
  transform: rotate(-135deg);
}

.mobile__nav__bg .mobile__nav li {
  padding: 2rem 0;
  font-size: 1.5rem;
}

.mobile__nav__bg .mobile__nav li:hover {
  color: #FFDF00;
}

.mobile__nav__bg .mobile__nav .active {
  color: #FFDF00;
}
.mobile__nav li{
    display: block;
}

@keyframes slide-down {
  from {
    transform: translateY(-100vh);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slide-up {
  from {
    transform: translateY(0);
    display: flex;
  }
  to {
    transform: translateY(-100vh);
    display: none;
  }
}

@media (max-width: 992px) {
  .desktop__navbar {
    padding: 1.5rem 0;
  }
  .links {
    display: none !important;
  }
  .mobile__nav__bg {
    position: fixed;
    animation: slide-down .5s ease-in-out 0s 1 alternate;
  }
  .mobile__nav {
      z-index: 46;
      display: flex;
      align-items: center;
      /* display: block; */
      /* color: white; */
  }
  .mobile__nav a{
      display: block;

      color: white;
      text-decoration: none;
  }
  .mobile__hamburger {
    display: block;
  }
}