*{
    margin: 0;
    padding: 0;
}

@font-face{
    font-family: "Graphik";
    src: url("/font/GraphikMedium.ttf");
}

@font-face{
    font-family: "GraphikReg";
    src: url("font/Graphik-Regular.ttf");
}

body{
    font-family: GraphikReg;
    background: url(../images/Bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

.img1{
    width: 60px;

}

.links a {
    padding: 10px 17px;
    margin: 0 .25rem;
    color: black;
    text-decoration: none;
}

.links a:hover {
    background: #63635d;
    color: white;
    border-radius: .25rem;
    /* #e4e4e1 */
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    box-shadow: 0 0 9px 0px #00000017;
}
  

li{
    list-style: none;
    display: inline-block;
}

.body1{
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    margin-top: 200px;
    /* text-align: center; */
    margin-left: 10%;
    /* font-family: GraphikReg; */
}

h1{
    font-size: 60px;
    font-weight: 400;
}

button{
    width: 138px;
    border: 1px solid rgb(94, 89, 89);
    height:40px;
    font-size: 18px;
    border-radius: 10px;
    /* border: none; */
    background: none;
    outline: none;
    font-family: Graphik;
    margin-bottom: 30px;
    margin-top: 10px;
    color: black;
}
button:hover{
    width: 138px;
    height:40px;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    background: white;
    cursor: pointer;
    transition: 0.7s;
}

button:active{
    transform: translateY(4px);
    transition: none;
}

.select{
    width: 30%;
    /* border: 2px solid black; */
    /* margin: 0 auto; */
    /* display: flex; */
    /* justify-content: space-between; */
    padding: 20px;
}

.select a{
    text-decoration: none;
    color: black;
}

.select p a{
    text-decoration: none;
    color: red;
}

@media only screen and (max-width:1000px){
    
    .select{
        width: 90%;
    }
    .body1{
        margin-top: 200px;
        width: 90%;
        text-align: left;
    }

    body{
        background: #e4e4e1;
    }

    .img1{
        width: 45px;
    }
}

@media only screen and (max-width:400px){
    .select{
        width: 80%; 
    }
    h1{
        font-size: 30px;
        font-weight: 400;
    }
    .body1{
        margin-top: 100px;
        text-align: left;
    }
}

